<!DOCTYPE html>
<html>
<head>
  <title>Robusta</title>
  <base href="/">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" />
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.css" />
  <link rel="stylesheet" href="./assets/css/styles.css" media="screen" title="no title" charset="utf-8">

  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.8/angular.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.8/angular-route.js"></script>
  <script src="app/controllers/mainController.js"></script>
  <script src="app/controllers/userController.js"></script>
  <script src="app/controllers/coffeeController.js"></script>
  <script src="app/controllers/beanController.js"></script>


  <script src="app/services/authService.js"></script>
  <script src="app/services/userService.js"></script>
  <script src="app/services/coffeeService.js"></script>
  <script src="app/services/beanService.js"></script>


  <script src="app/app.routes.js"></script>
  <script src="app/app.js"></script>
</head>

<body ng-app="coffeeApp">
  <header>
    <nav class="navbar navbar-inverse">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">Robusta</a>
        </div>
      </div>
    </nav>
  </header>

  <main class="container">


    <div ng-controller="coffeeController as coffee" class="row">
      <h1>Coffees</h1>
      <div ng-repeat="i in coffee.coffees" class="col-md-3 review-item">
        <ul class="list-unstyled">
          <li>{{i.review}}</li>
          <li>{{i.prepMethod}}</li>
        </ul>
      </div>
    </div>

    <div ng-controller="beanController as bean" class="row">

      <h1>Beans</h1>

      <div ng-repeat="i in bean.beans" class="col-md-3 review-item">
        <ul class="list-unstyled">
          <li>{{i.notes}}</li>
          <li>{{i.varietal}}</li>
          <li>{{i.process}}</li>
          <li>{{i.farm}}</li>
        </ul>
      </div>

    </div>
  </main>

</body>
</html>
