body {
  background-color: #e5e5e5;
  padding-top: 70px;
}

.spinner {
  animation: spin 1s infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.review-item {
  background-color: #fff;
  border: 1px solid #ddd;

}
.ng-valid {}
.ng-invalid {}
.ng-pristine {}
.ng-dirty {}
